<% @all_students.each do |student| %>
    <div id="student-list-item">
        <p><b><%= student.full_name() %></b> of the <i><%= student.house %></i> House</p>
        <ul><li>Age: <%= student.age %></li></ul>
    </div>
<% end %>
